.post .toc ol li {
    font-size: 14pt;
}

.post .toc a {
    text-decoration: none;
    color: #4A4AFF;
}

.post-toc-inside {
    background-color: rgba(250, 250, 250, 0.4);
    border-radius: 7px;
    border: 1px solid rgba(100, 100, 100, 0.4);
}

.post-toc ol {
    margin: 0.5em;
}